<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SteamBetter</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">

        @Html.ActionLink("SteamBetter", "Index", "Home", null, new { @class = "navbar-brand" })  &nbsp; &nbsp; &nbsp;

        @Html.ActionLink("S - Leagues", "Leagues", "Games") &nbsp; &nbsp; &nbsp;
        @Html.ActionLink("S - MatchHistory", "MatchHistory", "Games") &nbsp; &nbsp; &nbsp; |  &nbsp; &nbsp; &nbsp;

        @Html.ActionLink("P - Sports", "Sports", "Bets")
        <br />
        <br />
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - DahlLabs</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
