@model SteamApiClient.Models.LiveLeagueGamesModel

<h4>Testing</h4>
<h3>games</h3>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.result.games.First().league_id)</th>
            <th>@Html.DisplayNameFor(m => m.result.games.First().stage_name)</th>
            <th>@Html.DisplayNameFor(m => m.result.games.First().dire_team.team_name)</th>
            <th>@Html.DisplayNameFor(m => m.result.games.First().dire_series_wins)</th>
            <th>@Html.DisplayNameFor(m => m.result.games.First().radiant_team.team_name)</th>
            <th>@Html.DisplayNameFor(m => m.result.games.First().radiant_series_wins)</th>
            <th>@Html.DisplayNameFor(m => m.result.games.First().players)</th>
            <th>@Html.DisplayNameFor(m => m.result.games.First().spectators)</th>
            <th>@Html.DisplayNameFor(m => m.result.games.First().match_id)</th>
            <th>@Html.DisplayNameFor(m => m.result.games.First().series_id)</th>
            <th>@Html.DisplayNameFor(m => m.result.games.First().series_type)</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
    @foreach (var g in Model.result.games)
    {
        <tr>
            <td>@g.league_id</td>
            <td>@g.stage_name</td>
            <td>@Html.ActionLink(g.dire_team?.team_name ?? "<noname>", "TeamInfo", new { teamId = g.dire_team?.team_id })</td>
            <td>@(g.dire_series_wins)</td>
            <td>@Html.ActionLink(g.radiant_team?.team_name ?? "<noname>", "TeamInfo", new { teamId = g.radiant_team?.team_id })</td>
            <td>@(g.radiant_series_wins)</td>
            
            <td><ul>
            @foreach (var p in g.players)
            {
                <li>@Html.ActionLink(p.name, "PlayerStats", new { accountId = p.account_id })</li>

            }
            </ul> </td>

            <td>@g.spectators</td>
            <td>@g.match_id</td>
            <td>@g.series_id</td>
            <td>@g.series_type</td>

            <td>@Html.ActionLink("Match", "MatchDetails", new { matchId = g.match_id })</td>

        </tr>

    }
    </tbody>
</table>
