@model SteamApiClient.Models.LeagueListingModel

<h4>Testing</h4>
<h3>leagues</h3>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.result.leagues.First().leagueid)</th>
            <th>@Html.DisplayNameFor(m => m.result.leagues.First().name)</th>
            <th>@Html.DisplayNameFor(m => m.result.leagues.First().itemdef)</th>
            <th>@Html.DisplayNameFor(m => m.result.leagues.First().tournament_url)</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var l in Model.result.leagues)
    {
        <tr>
            <td>@l.leagueid</td>
            <td title="@l.description">@l.name</td>
            
            <td>@l.itemdef</td>
            <td><a href="@l.tournament_url" target="tournamentTarget">visit</a></td>
      
        </tr>
    }
    </tbody>
</table>
