@model SteamApiClient.Models.ScheduleModel

<h4>Testing</h4>
<h3>schedule</h3>

<table class="table table-hover tablesorter">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.result.leagues.First().leagueid)</th>
            <th>@Html.DisplayNameFor(m => m.result.leagues.First().name)</th>
            <th>@Html.DisplayNameFor(m => m.result.leagues.First().itemdef)</th>
            <th>@Html.DisplayNameFor(m => m.result.leagues.First().tournament_url)</th>
            <th>Schedule</th>
            <th>Prices</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var l in Model.result.leagues.OrderByDescending(l => l.leagueid))
    {
        <tr>
            <td>@l.leagueid</td>
            <td title="@l.description">@l.name</td>

            <td>@l.itemdef</td>
            <td><a href="@l.tournament_url" target="tournamentTarget">visit</a></td>

            <td>@Html.ActionLink("Schedule", "Schedule", new { leagueid = l.leagueid })</td>
            <td>@Html.ActionLink("Prizes", "Prizes", new { leagueid = l.leagueid })</td>

        </tr>
    }
    </tbody>
</table>
