@using SteamApiClient.Enums
@model SteamApiClient.Models.TeamInfoModel

<h4>Testing</h4>
<h3>team</h3>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.result.teams.First().name)</th>
            <th>@Html.DisplayNameFor(m => m.result.teams.First().country_code)</th>
            <th>@Html.DisplayNameFor(m => m.result.teams.First().admin_account_id)</th>
            <th>@Html.DisplayNameFor(m => m.result.teams.First().player_0_account_id)</th>
            <th>@Html.DisplayNameFor(m => m.result.teams.First().url)</th>
            <th>@Html.DisplayNameFor(m => m.result.teams.First().time_created)</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var t in Model.result.teams)
        {
        <tr>
            <td>@t.name</td>
            <td>@t.country_code</td>
            <td>@Html.ActionLink(t.admin_account_id.ToString(), "PlayerStats", new { accountId = t.admin_account_id }) </td>
            <td>@Html.ActionLink(t.player_0_account_id.ToString(), "PlayerStats", new { accountId = t.player_0_account_id }) </td>
            <td>@t.url</td>
            <td>@DateTimeOffset.FromUnixTimeSeconds(t.time_created).ToLocalTime()</td>

        </tr>
        }
    </tbody>
</table>
