@using SteamBetterWeb.ViewModels.Riot
@model RiotApiClient.Models.StaticChampionModel

<h4>Testing</h4>
<h3>champions, @Model.type, @Model.version</h3>


<table class="table table-hover tablesorter">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.data.Champions.First().id)</th>
            <th>@Html.DisplayNameFor(m => m.data.Champions.First().name)</th>
            <th>@Html.DisplayNameFor(m => m.data.Champions.First().key)</th>
            <th>@Html.DisplayNameFor(m => m.data.Champions.First().title)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var l in Model.data.Champions.OrderBy(l => l.name))
        {
            <tr>
                <td>@l.id</td>
                <td>@l.name</td>

                <td>@l.key</td>
                <td>@l.title</td>


            </tr>
        }
    </tbody>
</table>
