@using SteamBetterWeb.ViewModels.Bets;

@model FixturesViewModel

<h4>Testing</h4>
<h3>fixtures @Model.SportId, @Model.Last</h3>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.league.First().Id)</th>
            <th>@Html.DisplayNameFor(m => m.league.First().Name)</th>
            <th>@Html.DisplayNameFor(m => m.league.First().Events.First().Id)</th>
            <th>@Html.DisplayNameFor(m => m.league.First().Events.First().Home)</th>
            <th>@Html.DisplayNameFor(m => m.league.First().Events.First().Away)</th>
            <th title="O=Open, H=TempUnavailable, I=Red">@Html.DisplayNameFor(m => m.league.First().Events.First().Status)</th>
            <th></th>


        </tr>
    </thead>
    <tbody>
        @foreach (var l in Model.league)
        {
            foreach (var e in l.Events)
            {

        <tr>
            <td>@l.Id</td>
            <td>@l.Name</td>
            <td>@e.Id</td>
            <td>@e.Home</td>
            <td>@e.Away</td>
            <td>@e.Status</td>
            <td>@Html.ActionLink("Odds", "Odds", new { sportId = Model.SportId, eventId = e.Id })</td>

            <td>@Html.ActionLink("Line", "Line", new { sportId = Model.SportId, leagueId = l.Id, eventId = e.Id })</td>
            

        </tr>
            }
        }
    </tbody>
</table>
