@using SteamBetterWeb.ViewModels.Bets;

@model LineViewModel

<div>
    <h4>Testing</h4>
    <h3>line </h3>
</div>

<section id="loginForm">
    @using (Html.BeginForm("PostBet", "Bets", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()


        <table class="table">
            <tbody>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.lineId)</th>
                    <td>@Html.TextBoxFor(m => m.lineId, new { @readonly = "readonly" })</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.effectiveAsOf)</th>
                    <td>@Html.TextBoxFor(m => m.effectiveAsOf, new { @readonly = "readonly" })</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.status)</th>
                    <td>@Html.TextBoxFor(m => m.status, new { @readonly = "readonly" })</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.price)</th>
                    <td>@Html.TextBoxFor(m => m.price, new { @disabled = "disabled" })</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.team1Score)</th>
                    <td>@Html.TextBoxFor(m => m.team1Score, new { @readonly = "readonly" })</td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(m => m.team2Score)</th>
                    <td>@Html.TextBoxFor(m => m.team2Score, new { @readonly = "readonly" })</td>
                </tr>
                <tr>
                    <td>@Html.ActionLink("Place bet", "PostBet", new { lineId = Model.lineId })</td>
                    <td><input type="submit" value="Place bet" class="btn btn-default" /></td>
                </tr>

            </tbody>
        </table>
    }
</section>
