@using SteamBetterWeb.ViewModels.Bets;

@model LineViewModel

<div>
    <h4>Testing</h4>
    <h3>line </h3>
</div>

<section id="loginForm">
    @using (Html.BeginForm("PostBet", "Bets", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()


        <table class="table">
            <tbody>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.Status)</th>
                    <td>@Model.Status</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.LineId)</th>
                    <td>@Html.TextBoxFor(m => m.LineId, new { @readonly = "readonly" })</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.EffectiveAsOf)</th>
                    <td>@Html.TextBoxFor(m => m.EffectiveAsOf, new { @readonly = "readonly" })</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.Price)</th>
                    <td>@Html.TextBoxFor(m => m.Price, new { @disabled = "disabled" })</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.Team1Score)</th>
                    <td>@Html.TextBoxFor(m => m.Team1Score, new { @readonly = "readonly" })</td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(m => m.Team2Score)</th>
                    <td>@Html.TextBoxFor(m => m.Team2Score, new { @readonly = "readonly" })</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Place bet" class="btn " /></td>
                </tr>

            </tbody>
        </table>
    }
</section>
