@using SteamBetterWeb.ViewModels.Bets;

@model OddsViewModel

<h4>Testing</h4>
<h3>odds @Model.SportId, @Model.Last</h3>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.Leagues.First().Id)</th>
            <th>@Html.DisplayNameFor(m => m.Leagues.First().Events.First().Id)</th>
            <th>@Html.DisplayNameFor(m => m.Leagues.First().Events.First().Periods.First().LineId)</th>
            <th>@Html.DisplayNameFor(m => m.Leagues.First().Events.First().Periods.First().MaxSpread)</th>
            <th>@Html.DisplayNameFor(m => m.Leagues.First().Events.First().Periods.First().MaxTotal)</th>
            <th></th>



        </tr>
    </thead>
    <tbody>
        @foreach (var l in Model.Leagues)
        {
            foreach (var e in l.Events)
            {
                foreach (var p in e.Periods)
                {

                    <tr>
                        <td>@l.Id</td>
                        <td>@e.Id</td>
                        <td>@p.LineId</td>
                        <td>@p.MaxSpread</td>
                        <td>@p.MaxTotal</td>
                        <td>@Html.ActionLink("Line", "Line", new { sportId = Model.SportId, leagueId = l.Id, eventId = e.Id })</td>


                    </tr>
                }
            }
        }
    </tbody>
</table>
