@using SteamBetterWeb.ViewModels.Bets;

@model SportsViewModel

<h4>Testing</h4>
<h3>sports</h3>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.sports.First().id)</th>
            <th>@Html.DisplayNameFor(m => m.sports.First().name)</th>
            <th>@Html.DisplayNameFor(m => m.sports.First().eventCount)</th>
            <th>@Html.DisplayNameFor(m => m.sports.First().eventSpecialsCount)</th>
            <th></th>

            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model.sports)
        {
            <tr>
                <td>@s.id</td>
                <td>@s.name</td>
                <td>@s.eventCount</td>
                <td>@s.eventSpecialsCount</td>
                <td>@Html.ActionLink("Leagues", "Leagues", new { sportId = s.id })</td>
                <td>@Html.ActionLink("Fixtures", "Fixtures", new { sportId = s.id, leagueId = 0 })</td>
            </tr>

        }
    </tbody>
</table>
