@using SteamBetterWeb.ViewModels.Bets;

@model SportsViewModel

<h4>Testing</h4>
<h3>sports</h3>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.Sports.First().Id)</th>
            <th>@Html.DisplayNameFor(m => m.Sports.First().Name)</th>
            <th>@Html.DisplayNameFor(m => m.Sports.First().HasOfferings)</th>
            <th>@Html.DisplayNameFor(m => m.Sports.First().EventCount)</th>
            <th>@Html.DisplayNameFor(m => m.Sports.First().EventSpecialsCount)</th>
            <th>@Html.DisplayNameFor(m => m.Sports.First().LeagueSpecialsCount)</th>
            <th></th>

            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model.Sports.Where( s=>s.Id <= 12))
        {
        <tr>
            <td>@s.Id</td>
            <td>@s.Name</td>
            <td>@s.HasOfferings</td>
            <td>@s.EventCount</td>
            <td>@s.EventSpecialsCount</td>
            <td>@s.LeagueSpecialsCount</td>
            <td>@Html.ActionLink("Leagues", "Leagues", new { sportId = s.Id })</td>
            <td>@Html.ActionLink("Fixtures", "Fixtures", new { sportId = s.Id, leagueId = 0 })</td>
        </tr>

        }
    </tbody>
</table>
